*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section{
    
    width: 100%;
    padding: 40px 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(88, 86, 86);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;  
    
    
}

h1{
    margin:10px 0 30px 0;
}

section:nth-of-type(1){
    background-color: lightslategrey;
    height: 200px;
    text-align: left;
    color: white;
    
}
section:nth-of-type(2){
    background-image: url(assets/primavera.jpg);
    height: 400px;
}
section:nth-of-type(4){
    background-image: url(assets/verão.jpg);
    height: 400px;
    
}
section:nth-of-type(6){
    background-image: url(assets/outono.jpg);
    height: 400px;
}
section:nth-of-type(8){
    background-image: url(assets/inverno.jpg);
    height: 400px;
}

