*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor00:#593119;
    --cor01:#D9AA8F;
    --cor02:#262221;
    --cor03:#403937;
    --cor04:#733729;
}

body{
    background-image: url(assets/equations.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: var(--cor02);
    display: grid;
}

header{
    background-color: var(--cor01);
    font-size: 5vh;
    padding:5px;
    text-align: left;
    font-weight: 900;
    
}

main{
    grid-template:b;
    justify-self: center;
    align-self: center;
    
}

@media only screen and (max-width:2000px){/*desktop*/
    .calculator{width:500px;}
    .calculator button{ width:100px;height: 55px;}
    #button_eq{ height:110px ;}
    #button_zero{width:230px;} 
    
}

@media only screen and (max-width:991px){/*tablet*/
    .calculator{width:400px;}
    .calculator button{ width:70px;height: 55px;}
    #button_eq{ height:110px ;}
    #button_zero{width:170px;}
}

@media only screen and (max-width:478px){/*mobile*/
    .calculator{width:300px;}
    .calculator button{ width:50px;height: 55px;}
    #button_eq{ height:110px ;}
    #button_zero{width:120px;}
}


.decoration{
    background-color: var(--cor00);
    border:var(--cor00) 20px solid;
    
    border-radius: 5%;
    
}

.calculator{
    background-color: var(--cor00);
    height: 450px;
    display: flex;
    flex-direction: column;
    position: relative;  
    border: var(--cor01) 5px solid; 
    border-radius: 5%;
   
}

table{
    height: 400px;
    
}

#display{
    background-color:var(--cor02);
    color: white;
    margin: 20px;
    border-radius: 5px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 40px;
    
    
}

.calculator button{
    margin: 5px;
    padding: 5px;
    font-size: 20px;  
    border-radius: 20px;
    box-shadow: 5px 5px 5px var(--cor02); 
    cursor: pointer;   
    font-weight: 900; 
}

.calculator button:hover{
    background-color: var(--cor03);
    opacity: 0.5;
    border: var(--cor01) solid 5px;
}

.back{
    padding: 0.5em;
    border-radius: 1em;
    cursor: pointer;  
    margin: 1em;  
    color: var(--cor02);
    text-decoration: none;
    font-size: 15px;
    background-color: gray;
}

.back:hover{
    background-color: var(--cor03);
    font-weight: 900;
    color: white;
    
}
